<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainmurphy.roomhack" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>


        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.CalculatorActivity"
            android:label="@string/title_activity_calculator" >
        </activity>
        <activity
            android:name=".activity.AddChoreActivity"
            android:label="@string/title_activity_add_chore" >
        </activity>
        <activity
            android:name=".activity.addExpenseActivity"
            android:label="@string/title_activity_add_expense" >
        </activity>
        <activity
            android:name=".activity.ChoreActivity"
            android:label="@string/title_activity_chore" >
        </activity>
    </application>

</manifest>
